:root {
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: white; 
  background: #022c43;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  font-size: 62.5%;
}

a {
  font-weight: 500;
  color: #8d8d8d;
  text-decoration: inherit;
}
a:hover {
  color: #ffd700;
}

body {
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden auto;
  background: #022c43;
  color: white;
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
